<div class="modal-backdrop" *ngIf="isModalVisible" (click)="onCloseModal()"></div>
<div class="modal" *ngIf="isModalVisible">
    <div class="modal__header">
        <h2>{{ product?.productName }}</h2>
    </div>
    <div class="modal__body">
        <img [src]="product?.productImage" alt="{{ product?.productName }}"/>
        <p>{{ product?.productDetail }}</p>
        <p><strong>Price:</strong> {{ product?.price }}</p>
    </div>
    <div class="modal__footer">
        <button (click)="addToCart()">Add to Cart</button>
        <button (click)="onCloseModal()">Close</button>
    </div>
</div>