<h2>Products</h2>
<div class="row" style="margin-top: 20px;">
    <div class="col-8">
        <div class="row">
            <div class="col-4" *ngFor="let product of products">
                <app-item-product (selected)="productSelected($event)" [productId]="product.productId" [productName]="product.productName" [productImage]="product.productImage" [productDetail]="product.productDetail" [price]="product.price"/>
            </div>
        </div>
    </div>
    <div class="col-4">
        <app-cart/>
    </div>
</div>
<app-modal-product [product]="product" (closeModal)="isModalVisible=false" [isModalVisible]="isModalVisible"/>